@import "bootstrap";

header {
  height: 56px;
  padding: 16px;
  background-color: #007bff;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
}

#brand {
  font-size: 1.25rem;
  color: white;
}

#now-page {
  margin-left: auto;
  color: white;
}

// body {
//   margin-top: 56px;
// }

.card-link {
  color: #333;
  outline: none;
}

#focused-card {
  background-color: lightcyan;
}

.starred {
  background-color: yellow;
}
