@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$maintext-color: rgba(0, 0, 0, 0.87);
$subtext-color: rgba(0, 0, 0, 0.54);
$border-color: rgba(0, 0, 0, 0.12);
$header-color: white;
$header-bgcolor: #6f20ff;
$sidebar-bgcolor: whitesmoke;
$favicon-bgcolor: white;
$mycards-bgcolor: rgba(0, 0, 0, 0.12);
$mycard-bgcolor: white;
$star-color: #ffde20;
$focused-bgcolor: lightcyan;

// flex----------------------------------------------------------------------------------------------------------------------------------------

.flex {
  display: flex;
  align-items: center;
}

// header--------------------------------------------------------------------------------------------------------------------------------------

header {
  height: 56px;
  padding: 16px;
  color: $header-color;
  background-color: $header-bgcolor;

  #brand {
    font-size: 1.25rem;
  }

  #now-page {
    margin-left: auto;
    font-size: 18px;
  }
}

// sidebar-------------------------------------------------------------------------------------------------------------------------------------

#sidebar {
  width: 68px; // スクロールバーありのとき。なしのときはJSで52pxに変更される。
  flex: none;
  margin-right: auto;
  overflow: hidden auto;
  height: calc(100vh - 56px);
  background-color: $sidebar-bgcolor;

  #toggle {
    text-align: center;
    position: fixed;
    top: 56px;
    background-color: $sidebar-bgcolor;

    .fa-angle-double-right {
      width: 52px;
      height: 42px;
      font-size: 25px;
      line-height: 42px;
      color: rgba(0, 0, 0, 0.54);
    }
  }

  #feeds-favicon {
    margin-top: 42px;

    .favicon {
      display: block;
      width: 32px;
      height: 32px;
      margin: 10px 10px;
      background-color: $favicon-bgcolor;

      .fa-star {
        width: 32px;
        height: 32px;
        font-size: 26px;
        line-height: 32px;
        color: $star-color;
        border: 1px solid $border-color;
      }
    }

    #all {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      font-weight: bold;
      color: $maintext-color;
      border: 1px solid $border-color;
    }
  }
}

// mycards-------------------------------------------------------------------------------------------------------------------------------------

#mycards {
  overflow: hidden auto;
  height: calc(100vh - 56px);
  flex: auto;
  padding: 0 3px;
  background-color: $mycards-bgcolor;
}

.mycard {
  background-color: $mycard-bgcolor;
  margin-bottom: 3px;
  padding: 10px;

  #thumbnail {
    width: 75px;
    height: 75px;
    margin-right: 10px;

    .fa-image {
      width: 75px;
      height: 75px;
      font-size: 60px;
      line-height: 75px;
    }
  }

  #flex-item {
    flex: auto;

    .card-link {
      color: $maintext-color;
      outline: none;
    }

    .star-col {
      margin-right: 50px;

      .toggleable-star.far {
        color: rgba(0, 0, 0, 0.26);
      }

      .toggleable-star.fas {
        color: $star-color;
      }
    }

    .feed-col {
      margin-right: 50px;

      span {
        color: $subtext-color;
        font-size: 80%;
      }
    }

    .pub-col {
      margin-left: auto;

      span {
        color: $subtext-color;
        font-size: 80%;
      }
    }
  }
}

.mycard:first-child {
  margin-top: 3px;
}

#focused-card {
  background-color: $focused-bgcolor;
}
