#feeds-area {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 56px);
  padding: 0 50px;
  flex: auto;

  .btn {
    margin: 20px 0;
  }

  .edit_and_delete {
    display: flex;
  }

  .fa-edit,
  .fa-trash-alt {
    @include flex-center;
    width: 32px;
    height: 32px;
    font-size: 26px;
  }

  .fa-edit {
    color: $maintext-color;
    margin-right: 20px;
  }

  .fa-trash-alt {
    color: red;
  }
}

#form-area {
  padding: 0 15vw;
  flex: auto;

  h1 {
    font-size: 1.5rem;
  }

  #error_explanation {
    padding-left: 0;
  }

  #spinner {
    display: none;
    font-size: 25px;
    animation: rotation 1.2s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
