#feeds-area {
  padding: 0 50px;
  flex: auto;
}

#form-area {
  padding: 0 50px;
  flex: auto;

  h1 {
    font-size: 1.5rem;
  }

  #spinner {
    display: none;
    font-size: 25px;
    animation: rotation 1.2s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.edit_and_delete {
  @include flex-center;
}

.fa-edit,
.fa-trash-alt {
  @include flex-center;
  margin-left: 20px;
  width: 32px;
  height: 32px;
  font-size: 26px;
  color: $maintext-color;
}

.fa-trash-alt {
  color: red;
}
