#feeds-area {
  padding: 0 50px;
  flex: auto;
}

#form-area {
  padding: 0 50px;
  flex: auto;

  h1 {
    font-size: 1.5rem;
  }
}

.edit_and_delete {
  @include flex-center;
}

.fa-edit,
.fa-trash-alt {
  @include flex-center;
  margin-left: 20px;
  width: 32px;
  height: 32px;
  font-size: 26px;
  color: $maintext-color;
}

.fa-trash-alt {
  color: red;
}
