@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin omitted {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.flex {
    @include flex-center;
}
